html,body {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
div#content {
	border: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #CFCFCF;
	background-image: url(background.jpg);
}
div.tweet {
	border: solid 2px #FFFFFF;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFFFFF;
	font-family: sans-serif;
	box-shadow: 10px 10px 10px #000000;
}
div.tweet span.name {
	display: block;
	margin-bottom: 1em;
}
div.tweet span.message {
	font-size: 2em;
	display: block;
}
div.tweet span.media img {
	max-height: 250px;
	max-width: 50%;
	margin-top: 1em;
	margin-right: 1em;
}
div#hidden {
	position: absolute;
	display: block;
	visibility: hidden;
}
